<a href="https://colab.research.google.com/github/kirsten-fung/project_gss/blob/main/project_gss_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Research Question: Is there a relationship between perceptions of work-life balance and job satisfaction among survey participants?

In [64]:
import pandas as pd
import numpy as np
#
var_list = ['wrkstat', 'prestige'] # List of variables you want to save
output_filename = 'selected_gss_data.csv' # Name of the file you want to save the data to
#
modes = ['w','a'] # Has write mode and append mode
phase = 0 # Starts in write mode; after one iteration of loop, switches to append mode
#
for k in range(3): # for each chunk of the data
    url = 'https://github.com/DS3001/project_gss/raw/main/gss_chunk_' + str(1+k) + '.parquet' # Create url to the chunk to be processed
    print(url) # Check the url is correct
    df = pd.read_parquet(url) # Download this chunk of data
    print(df.head()) # Visually inspect the first few rows
    df.loc[:,var_list].to_csv(output_filename, # specifies target file to save the chunk to
                              mode=modes[phase], # control write versus append
                              header=var_list, # variable names
                              index=False) # no row index saved
    phase = 1 # Switch from write mode to append mode

https://github.com/DS3001/project_gss/raw/main/gss_chunk_1.parquet
   year  id            wrkstat  hrs1  hrs2 evwork    occ  prestige  \
0  1972   1  working full time   NaN   NaN    NaN  205.0      50.0
1  1972   2            retired   NaN   NaN    yes  441.0      45.0
2  1972   3  working part time   NaN   NaN    NaN  270.0      44.0
3  1972   4  working full time   NaN   NaN    NaN    1.0      57.0
4  1972   5      keeping house   NaN   NaN    yes  385.0      40.0

         wrkslf wrkgovt  ...  agehef12 agehef13 agehef14  hompoph wtssps_nea  \
0  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
1  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
2  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
3  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
4  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN

   wtssnrps_nea  wtssps_next wtssnrps_next wtsscomp wtsscompnr
0           NaN          NaN           NaN   0.4446        NaN
1           NaN          NaN           NaN   0.8893        NaN
2           NaN          NaN           NaN   0.8893        NaN
3           NaN          NaN           NaN   0.8893        NaN
4           NaN          NaN           NaN   0.8893        NaN

[5 rows x 6694 columns]
https://github.com/DS3001/project_gss/raw/main/gss_chunk_2.parquet
   year   id            wrkstat  hrs1  hrs2 evwork    occ  prestige  \
0  1989  775            retired   NaN   NaN    yes  540.0      36.0
1  1989  776  working full time  40.0   NaN    NaN  925.0      36.0
2  1989  777            retired   NaN   NaN    yes   80.0      61.0
3  1989  778  working full time  44.0   NaN    NaN  912.0      26.0
4  1989  779            retired   NaN   NaN    yes  690.0      32.0

         wrkslf wrkgovt  ...  agehef12 agehef13 agehef14  hompoph wtssps_nea  \
0  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
1  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
2  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
3  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN
4  someone else     NaN  ...       NaN      NaN      NaN      NaN        NaN

   wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0           NaN          NaN           NaN  1.295069        NaN
1           NaN          NaN           NaN  0.483624        NaN
2           NaN          NaN           NaN  0.407988        NaN
3           NaN          NaN           NaN  1.225988        NaN
4           NaN          NaN           NaN  0.504302        NaN

[5 rows x 6694 columns]
https://github.com/DS3001/project_gss/raw/main/gss_chunk_3.parquet
   year    id            wrkstat  hrs1  hrs2 evwork  occ  prestige  \
0  2006  1751  working full time  40.0   NaN    NaN  NaN       NaN
1  2006  1752          in school   NaN   NaN    yes  NaN       NaN
2  2006  1753  working full time  35.0   NaN    NaN  NaN       NaN
3  2006  1754  working full time  50.0   NaN    NaN  NaN       NaN
4  2006  1755  working full time  40.0   NaN    NaN  NaN       NaN

         wrkslf     wrkgovt  ...  agehef12 agehef13 agehef14  hompoph  \
0  someone else  government  ...       NaN      NaN      NaN      NaN
1  someone else     private  ...       NaN      NaN      NaN      NaN
2  someone else  government  ...       NaN      NaN      NaN      NaN
3  someone else  government  ...       NaN      NaN      NaN      NaN
4  someone else     private  ...       NaN      NaN      NaN      NaN

  wtssps_nea  wtssnrps_nea  wtssps_next wtssnrps_next  wtsscomp wtsscompnr
0        NaN           NaN          NaN           NaN  1.079141   0.961150
1        NaN           NaN          NaN           NaN  7.673834   6.641571
2        NaN           NaN          NaN           NaN  0.584663   0.512145
3        NaN           NaN          NaN           NaN  0.715731   0.637592
4        NaN           NaN          NaN           NaN  1.094831   0.956094

[5 rows x 6694 columns]

In [65]:
# General overview of dataframe
df.head()

,year,id,wrkstat,hrs1,hrs2,evwork,occ,prestige,wrkslf,wrkgovt,...,agehef12,agehef13,agehef14,hompoph,wtssps_nea,wtssnrps_nea,wtssps_next,wtssnrps_next,wtsscomp,wtsscompnr
0,2006,1751,working full time,40.0,NaN,NaN,NaN,NaN,someone else,government,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.079141,0.961150
1,2006,1752,in school,NaN,NaN,yes,NaN,NaN,someone else,private,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.673834,6.641571
2,2006,1753,working full time,35.0,NaN,NaN,NaN,NaN,someone else,government,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.584663,0.512145
3,2006,1754,working full time,50.0,NaN,NaN,NaN,NaN,someone else,government,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.715731,0.637592
4,2006,1755,working full time,40.0,NaN,NaN,NaN,NaN,someone else,private,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.094831,0.956094

In [66]:
# Clean the job satisfaction variable by removing all unwanted answers that have zero occurences and replace them with nan.
df['jobsat'].value_counts()

very satisfied                        572
fairly satisfied                      480
completely satisfied                  287
neither satisfied nor dissatisfied     90
fairly dissatisfied                    72
very dissatisfied                      38
completely dissatisfied                15
not imputable_(2147483638)              0
not available in this year              0
not available in this release           0
uncodeable                              0
skipped on web                          0
refused                                 0
dk, na, iap                             0
not imputable_(2147483637)              0
no answer                               0
I don't have a job                      0
iap                                     0
don't know                              0
see codebook                            0
Name: jobsat, dtype: int64

In [67]:
df['jobsat'] = df['jobsat'].replace(['not imputable_(2147483638)','not available in this year','not available in this release','uncodeable','skipped on web','refused','dk, na, iap','not imputable_(2147483637)','no answer','iap',"don't know",'see codebook',"I don't have a job"], np.nan)
print(df['jobsat'].value_counts())

very satisfied                        572
fairly satisfied                      480
completely satisfied                  287
neither satisfied nor dissatisfied     90
fairly dissatisfied                    72
very dissatisfied                      38
completely dissatisfied                15
Name: jobsat, dtype: int64

In [103]:
df = df[~df['jobsat'].isna()]

In [68]:
# Hours worked per week does not need cleaning
df['hrs2'].unique()

array([nan, 50., 42., 38., 40., 12., 44., 30.,  5., 45., 17., 60., 32.,
       25., 35., 70., 34., 28.,  1., 26., 43., 20., 55.,  3., 10., 65.,
       15.,  8.,  7., 48., 16., 36., 18., 41., 24.,  9.,  6., 84., 22.,
       21., 46., 80., 66., 52.])

In [69]:
# Age does not need cleaning
df['age'].unique()

array([48., 25., 42., 24., 31., 46., 52., 50., 32., 57., 62., 66., 34.,
       30., 27., 59., 19., 23., 35., 44., 78., 33., 21., 77., 70., 69.,
       26., 89., 37., 68., 83., 61., 72., 53., 79., 58., 36., 51., 56.,
       43., 40., 82., 41., 73., 85., 64., 22., 39., 75., 80., 49., 76.,
       60., 74., 28., 47., 63., 20., 55., 18., 81., 86., 67., 45., 84.,
       nan, 38., 65., 54., 29., 71., 87., 88.])

In [70]:
# Clean the sex variable by removing all unwanted answers that have zero occurences and replace them with nan.
df['sex'].value_counts()

female                           13234
male                             10784
don't know                           0
iap                                  0
I don't have a job                   0
dk, na, iap                          0
no answer                            0
not imputable_(2147483637)           0
not imputable_(2147483638)           0
refused                              0
skipped on web                       0
uncodeable                           0
not available in this release        0
not available in this year           0
see codebook                         0
Name: sex, dtype: int64

In [71]:
df['sex'] = df['sex'].replace(["don't know",'iap',"I don't have a job",'dk, na, iap','no answer','not imputable_(2147483637)','not imputable_(2147483638)','refused','skipped on web','uncodeable','not available in this release','not available in this year','see codebook'], np.nan)
print(df['sex'].value_counts())

female    13234
male      10784
Name: sex, dtype: int64

In [104]:
df = df[~df['sex'].isna()]

In [72]:
# Clean the degree variable by removing all unwanted answers that have zero occurences and replace them with nan.
df['degree'].value_counts()

high school                      11604
bachelor's                        4750
graduate                          2919
less than high school             2840
associate/junior college          1982
not imputable_(2147483638)           0
not available in this year           0
not available in this release        0
uncodeable                           0
skipped on web                       0
refused                              0
no answer                            0
not imputable_(2147483637)           0
dk, na, iap                          0
I don't have a job                   0
iap                                  0
don't know                           0
see codebook                         0
Name: degree, dtype: int64

In [73]:
df['degree'] = df['degree'].replace(['not imputable_(2147483638)','not available in this year','not available in this release','uncodeable','skipped on web','refused','no answer','not imputable_(2147483637)','dk, na, iap',"I don't have a job",'iap',"don't know",'see codebook'], np.nan)
print(df['degree'].value_counts())

high school                 11604
bachelor's                   4750
graduate                     2919
less than high school        2840
associate/junior college     1982
Name: degree, dtype: int64

In [105]:
df = df[~df['degree'].isna()]

In [74]:
# Clean the stress variable by removing all unwanted answers that have zero occurences and replace them with nan.
df['stress'].value_counts()

sometimes                        4195
often                            2143
hardly ever                      1620
always                            950
never                             625
not imputable_(2147483638)          0
not available in this year          0
not available in this release       0
uncodeable                          0
skipped on web                      0
refused                             0
no answer                           0
not imputable_(2147483637)          0
dk, na, iap                         0
I don't have a job                  0
iap                                 0
can't choose                        0
see codebook                        0
Name: stress, dtype: int64

In [75]:
df['stress'] = df['stress'].replace(['not imputable_(2147483638)','not available in this year','not available in this release','uncodeable','skipped on web','refused','no answer','not imputable_(2147483637)','dk, na, iap',"I don't have a job",'iap',"don't know","can't choose",'see codebook'], np.nan)
print(df['stress'].value_counts())

sometimes      4195
often          2143
hardly ever    1620
always          950
never           625
Name: stress, dtype: int64

In [106]:
df = df[~df['stress'].isna()]

In [76]:
# Clean the marital variable by removing all unwanted answers that have zero occurences and replace them with nan.
df['marital'].value_counts()

married                          10939
never married                     6446
divorced                          3989
widowed                           1962
separated                          753
not imputable_(2147483638)           0
not available in this year           0
not available in this release        0
uncodeable                           0
skipped on web                       0
refused                              0
no answer                            0
not imputable_(2147483637)           0
dk, na, iap                          0
I don't have a job                   0
iap                                  0
don't know                           0
see codebook                         0
Name: marital, dtype: int64

In [77]:
df['marital'] = df['marital'].replace(['not imputable_(2147483638)','not available in this year','not available in this release','uncodeable','skipped on web','refused','no answer','not imputable_(2147483637)','dk, na, iap',"I don't have a job",'iap',"don't know",'see codebook'], np.nan)
print(df['marital'].value_counts())

married          10939
never married     6446
divorced          3989
widowed           1962
separated          753
Name: marital, dtype: int64

In [107]:
df = df[~df['marital'].isna()]

In [78]:
# Clean the race variable by removing all unwanted answers that have zero occurences and replace them with nan.
df['race'].value_counts()

white                            18059
black                             3504
other                             2460
don't know                           0
iap                                  0
I don't have a job                   0
dk, na, iap                          0
no answer                            0
not imputable_(2147483637)           0
not imputable_(2147483638)           0
refused                              0
skipped on web                       0
uncodeable                           0
not available in this release        0
not available in this year           0
see codebook                         0
Name: race, dtype: int64

In [79]:
df['race'] = df['race'].replace(["don't know",'iap',"I don't have a job",'dk, na, iap','no answer','not imputable_(2147483637)','not imputable_(2147483638)','refused','skipped on web','uncodeable','not available in this release','not available in this year','see codebook'], np.nan)
print(df['race'].value_counts())

white    18059
black     3504
other     2460
Name: race, dtype: int64

In [108]:
df = df[~df['race'].isna()]

In [80]:
# Clean the work status variable by removing all unwanted answers that have zero occurences and replace them with nan.
df['wrkstat'].value_counts()

working full time                                                             11294
retired                                                                        4733
working part time                                                              2531
keeping house                                                                  2344
unemployed, laid off, looking for work                                         1154
other                                                                           786
in school                                                                       735
with a job, but not at work because of temporary illness, vacation, strike      522
not imputable_(2147483638)                                                        0
not available in this year                                                        0
not available in this release                                                     0
uncodeable                                                                        0
skipped on web                                                                    0
refused                                                                           0
I don't have a job                                                                0
not imputable_(2147483637)                                                        0
no answer                                                                         0
dk, na, iap                                                                       0
iap                                                                               0
don't know                                                                        0
see codebook                                                                      0
Name: wrkstat, dtype: int64

In [81]:
df['wrkstat'] = df['wrkstat'].replace(['not imputable_(2147483638)','not available in this year','not available in this release','uncodeable','skipped on web','refused',"I don't have a job",'not imputable_(2147483637)','no answer','dk, na, iap','iap',"don't know",'see codebook'], np.nan)
print(df['wrkstat'].value_counts())

working full time                                                             11294
retired                                                                        4733
working part time                                                              2531
keeping house                                                                  2344
unemployed, laid off, looking for work                                         1154
other                                                                           786
in school                                                                       735
with a job, but not at work because of temporary illness, vacation, strike      522
Name: wrkstat, dtype: int64

In [109]:
df = df[~df['wrkstat'].isna()]

In [86]:
# Number of children does not need cleaning
df['childs'].value_counts()

0.0    6753
2.0    6382
3.0    3787
1.0    3783
4.0    1835
5.0     711
6.0     385
8.0     216
7.0     182
Name: childs, dtype: int64

In [88]:
# Clean the income variable by removing all unwanted answers that have zero occurences and replace them with nan.
df['income'].value_counts()

$25,000 or more                  15720
$20,000 to $24,999                1412
$10,000 to $14,999                1405
$15,000 to $19,999                1026
$8,000 to $9,999                   401
under $1,000                       340
$1,000 to $2,999                   295
$7,000 to $7,999                   198
$3,000 to $3,999                   174
$6,000 to $6,999                   163
$5,000 to $5,999                   157
$4,000 to $4,999                   111
not imputable_(2147483638)           0
not available in this year           0
not available in this release        0
uncodeable                           0
skipped on web                       0
refused                              0
don't know                           0
not imputable_(2147483637)           0
no answer                            0
dk, na, iap                          0
I don't have a job                   0
iap                                  0
see codebook                         0
Name: income, dtype: int64

In [89]:
df['income'] = df['income'].replace(['not imputable_(2147483638)','not available in this year','not available in this release','uncodeable','skipped on web','refused',"don't know",'not imputable_(2147483637)','no answer','dk, na, iap',"I don't have a job",'iap','see codebook'], np.nan)
print(df['income'].value_counts())

$25,000 or more       15720
$20,000 to $24,999     1412
$10,000 to $14,999     1405
$15,000 to $19,999     1026
$8,000 to $9,999        401
under $1,000            340
$1,000 to $2,999        295
$7,000 to $7,999        198
$3,000 to $3,999        174
$6,000 to $6,999        163
$5,000 to $5,999        157
$4,000 to $4,999        111
Name: income, dtype: int64

In [110]:
df = df[~df['income'].isna()]